.muhammadali{
    background-color: blue; 
    text-align: center  ;
}
.sardor{
    color: chartreuse;
    background-color: yellow;
    text-align: center;
    
}
.ustoz{
    color: chocolate;
    background-color: burlywood;
    text-align:  center;
}



